$color-brown-dark: #8c441b;
$color-brown-mid: #bf7f5a;
$color-brown-light: #f2bea0;
$color-brown-deep: #592715;
$color-orange: #f27052;

$bp-mobile: 767px;
$bp-tablet: 1199px;
$bp-desktop: 1200px;

$font-playfair: var(--font-playfair), serif;
